/* Write your CSS code here */
.header-card {
}
.header-ul-card {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40px;
}
.Links {
}
.li {
  margin-left: 10px;
}
