/* Write your CSS code here */

.login-card {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-heading {
  font-size: 40px;
}

.login-btn {
}
